<%- include("partials/header") %>
<%- include("partials/navbar") %>
<div class="video-table-container">
    <h1>Series List</h1>
    <div class="form-group-container">
        <form method="get" action="/" class="search-form">
            <div class="form-group">
                <label for="search">Search</label>
                <input type="text" id="search" name="q">
                <button type="submit">Search</button>
            </div>
        </form>
        <form method="post" class="sort-form">
            <div class="form-group sort-group">
                <label for="sort-by">Sort By</label>
                <select id="sort-by">
                    <option value="title">Title</option>
                    <option value="description">Description</option>
                    <option value="rating">Rating</option>
                    <option value="genre">Genre</option>
                </select>
                <label for="order">Order</label>
                <select id="order">
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
                <button type="submit">Sort</button>
            </div>
        </form>
    </div>
    <form method="post">
        <table class="series-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Link</th>
                    <th>Description</th>
                    <th>Rating</th>
                    <th>Genre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Dummy Series 1</td>
                    <td><a href="https://www.dummyseries1.com">https://www.dummyseries1.com</a></td>
                    <td>This is a dummy series 1</td>
                    <td>8.5</td>
                    <td>Action</td>
                    <td><button formaction="/increaseRating/60d5ec49c9e77a6f1df829b1">Increase</button></td>
                </tr>
                <tr>
                    <td>Dummy Series 2</td>
                    <td><a href="https://www.dummyseries2.com">https://www.dummyseries2.com</a></td>
                    <td>This is a dummy series 2</td>
                    <td>7.5</td>
                    <td>Biography</td>
                    <td><button formaction="/increaseRating/60d5ec49c9e77a6f1df829b2">Increase</button></td>
                </tr>
                <tr>
                    <td>Dummy Series 3</td>
                    <td><a href="https://www.dummyseries3.com">https://www.dummyseries3.com</a></td>
                    <td>This is a dummy series 3</td>
                    <td>6.5</td>
                    <td>Musical</td>
                    <td><button formaction="/increaseRating/60d5ec49c9e77a6f1df829b3">Increase</button></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<%- include("partials/footer") %>
